[Unit]
Description=tmpfs_remount
Requires=network.target
Before=network.target remote-fs.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/tmpfs.sh start
ExecStop=/usr/local/bin/tmpfs.sh stop
User=root
Group=root

[Install]
WantedBy=multi-user.target
